In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedShuffleSplit, train_test_split

In [2]:
pd.set_option("display.max_rows", 11)

# GSE 8052

In [3]:
asthma_data = "8052"

In [4]:
asthma_gse_8052_df = pd.read_csv(f"KEGG_Based_Genes_GSE_{asthma_data}_Dataset.csv")

In [5]:
asthma_gse_8052_df

,Gender,Label,A2M,AACS,AADAT,AANAT,AARS2,AASDH,AASDHPPT,AASS,...,ZBTB16,ZBTB17,ZCCHC7,ZFYVE16,ZFYVE9,ZIC2,ZMAT2,ZMAT3,ZNF274,ZYX
0,1,0,3.779,6.841,3.176,3.077,6.758,6.973,9.062,3.263,...,3.346,6.884,8.523,6.047,5.843,2.877,8.200,9.680,7.758,6.160
1,0,0,3.882,7.722,2.936,2.972,6.129,7.425,9.037,3.554,...,3.229,5.801,9.736,6.355,4.870,2.614,8.008,10.632,8.100,5.776
2,1,1,4.012,7.845,3.221,3.335,6.649,6.732,8.450,3.912,...,3.278,6.488,8.178,4.964,5.187,2.411,8.515,9.045,7.160,7.466
3,1,1,4.241,7.359,3.157,3.170,6.342,6.094,8.874,3.488,...,3.639,6.268,9.012,6.003,5.195,2.843,7.925,8.894,7.980,6.938
4,0,1,4.152,7.545,3.033,3.259,6.541,6.560,8.993,3.932,...,3.166,6.106,8.839,5.919,5.498,2.705,8.717,8.103,7.658,6.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,0,1,3.911,7.408,3.183,3.020,6.602,7.136,9.091,3.205,...,3.483,6.628,8.475,5.843,5.165,2.805,8.508,8.469,7.544,6.775
400,1,0,3.917,7.531,3.074,3.895,6.358,6.239,9.119,3.492,...,3.942,6.227,8.934,5.767,4.307,2.578,8.352,7.713,7.205,6.303
401,1,0,3.349,7.602,3.016,3.429,6.473,6.273,9.302,3.491,...,3.537,6.146,8.691,6.369,4.884,2.640,8.387,7.748,7.696,6.035
402,0,1,3.724,7.727,3.136,3.336,6.477,6.537,9.298,3.007,...,3.580,6.413,9.315,6.364,4.950,2.701,8.294,7.587,7.317,5.628
403,0,1,4.048,7.733,2.868,3.155,6.661,6.524,9.271,3.502,...,3.312,6.644,8.373,6.191,5.168,2.787,8.443,8.414,7.689,6.540

In [6]:
data = asthma_gse_8052_df.iloc[:, 2:]

In [7]:
data

,A2M,AACS,AADAT,AANAT,AARS2,AASDH,AASDHPPT,AASS,ABAT,ABCA1,...,ZBTB16,ZBTB17,ZCCHC7,ZFYVE16,ZFYVE9,ZIC2,ZMAT2,ZMAT3,ZNF274,ZYX
0,3.779,6.841,3.176,3.077,6.758,6.973,9.062,3.263,5.703,3.362,...,3.346,6.884,8.523,6.047,5.843,2.877,8.200,9.680,7.758,6.160
1,3.882,7.722,2.936,2.972,6.129,7.425,9.037,3.554,4.536,3.104,...,3.229,5.801,9.736,6.355,4.870,2.614,8.008,10.632,8.100,5.776
2,4.012,7.845,3.221,3.335,6.649,6.732,8.450,3.912,5.139,3.200,...,3.278,6.488,8.178,4.964,5.187,2.411,8.515,9.045,7.160,7.466
3,4.241,7.359,3.157,3.170,6.342,6.094,8.874,3.488,4.671,3.396,...,3.639,6.268,9.012,6.003,5.195,2.843,7.925,8.894,7.980,6.938
4,4.152,7.545,3.033,3.259,6.541,6.560,8.993,3.932,4.547,3.098,...,3.166,6.106,8.839,5.919,5.498,2.705,8.717,8.103,7.658,6.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,3.911,7.408,3.183,3.020,6.602,7.136,9.091,3.205,4.495,3.157,...,3.483,6.628,8.475,5.843,5.165,2.805,8.508,8.469,7.544,6.775
400,3.917,7.531,3.074,3.895,6.358,6.239,9.119,3.492,4.505,3.268,...,3.942,6.227,8.934,5.767,4.307,2.578,8.352,7.713,7.205,6.303
401,3.349,7.602,3.016,3.429,6.473,6.273,9.302,3.491,4.767,3.185,...,3.537,6.146,8.691,6.369,4.884,2.640,8.387,7.748,7.696,6.035
402,3.724,7.727,3.136,3.336,6.477,6.537,9.298,3.007,4.590,3.201,...,3.580,6.413,9.315,6.364,4.950,2.701,8.294,7.587,7.317,5.628
403,4.048,7.733,2.868,3.155,6.661,6.524,9.271,3.502,5.201,3.240,...,3.312,6.644,8.373,6.191,5.168,2.787,8.443,8.414,7.689,6.540

In [8]:
label = asthma_gse_8052_df.iloc[:, :2]

In [9]:
label

     Gender  Label
0         1      0
1         0      0
2         1      1
3         1      1
4         0      1
..      ...    ...
399       0      1
400       1      0
401       1      0
402       0      1
403       0      1

[404 rows x 2 columns]

In [10]:
experiment = 1
for train, test in StratifiedShuffleSplit(n_splits = 10, test_size = 0.2).split(data, label):
    trainData, validData, trainLabel, validLabel = train_test_split(data.loc[train], label.loc[train], test_size = 0.2, shuffle = True, stratify = label.loc[train])
    testData = data.loc[test]
    testLabel = label.loc[test]
    print("#######################  %d experiment  #######################\n" % experiment)
    ##################################################################################################
    data_scaler = StandardScaler()
    data_scaler.fit(trainData)
    scaled_data_based_asthma_8052_train_data = data_scaler.transform(trainData)
    scaled_data_based_asthma_8052_valid_data = data_scaler.transform(validData)
    scaled_data_based_asthma_8052_test_data = data_scaler.transform(testData)
    ### entire data
    scaled_asthma_8052_train_df = pd.DataFrame(scaled_data_based_asthma_8052_train_data)
    scaled_asthma_8052_valid_df = pd.DataFrame(scaled_data_based_asthma_8052_valid_data)
    scaled_asthma_8052_test_df = pd.DataFrame(scaled_data_based_asthma_8052_test_data)
    ### reindex label
    reindexed_asthma_8052_train_label = trainLabel.reset_index(drop = True)
    reindexed_asthma_8052_valid_label = validLabel.reset_index(drop = True)
    reindexed_asthma_8052_test_label = testLabel.reset_index(drop = True)
    ##################################################################################################
    ### concat entire data with sex information
    scaled_asthma_8052_train_with_sex_df = pd.concat([scaled_asthma_8052_train_df, reindexed_asthma_8052_train_label["Gender"]], axis = 1)
    scaled_asthma_8052_valid_with_sex_df = pd.concat([scaled_asthma_8052_valid_df, reindexed_asthma_8052_valid_label["Gender"]], axis = 1)
    scaled_asthma_8052_test_with_sex_df = pd.concat([scaled_asthma_8052_test_df, reindexed_asthma_8052_test_label["Gender"]], axis = 1)
    ### entire label
    asthma_8052_train_label = reindexed_asthma_8052_train_label["Label"]
    asthma_8052_valid_label = reindexed_asthma_8052_valid_label["Label"]
    asthma_8052_test_label = reindexed_asthma_8052_test_label["Label"]
    ##################################################################################################
    scaled_asthma_8052_train_with_sex_df.to_csv(f"[GSE{asthma_data}]Entire_Normed_Train_Data_{experiment}.csv", index = False, header = True)
    scaled_asthma_8052_valid_with_sex_df.to_csv(f"[GSE{asthma_data}]Entire_Normed_Valid_Data_{experiment}.csv", index = False, header = True)
    scaled_asthma_8052_test_with_sex_df.to_csv(f"[GSE{asthma_data}]Entire_Normed_Test_Data_{experiment}.csv", index = False, header = True)
    asthma_8052_train_label.to_csv(f"[GSE{asthma_data}]Entire_Normed_Train_Label_{experiment}.csv", index = False, header = True)
    asthma_8052_valid_label.to_csv(f"[GSE{asthma_data}]Entire_Normed_Valid_Label_{experiment}.csv", index = False, header = True)
    asthma_8052_test_label.to_csv(f"[GSE{asthma_data}]Entire_Normed_Test_Label_{experiment}.csv", index = False, header = True)
    
    experiment += 1

#######################  1 experiment  #######################

#######################  2 experiment  #######################

#######################  3 experiment  #######################

#######################  4 experiment  #######################

#######################  5 experiment  #######################

#######################  6 experiment  #######################

#######################  7 experiment  #######################

#######################  8 experiment  #######################

#######################  9 experiment  #######################

#######################  10 experiment  #######################

---

# GSE 172367

In [14]:
asthma_data = "172367"

In [15]:
asthma_gse_172367_df = pd.read_csv(f"KEGG_Based_Genes_GSE_{asthma_data}_Dataset.csv")

In [16]:
asthma_gse_172367_df

,AACS,AADAT,AARS1,AARS2,AASDH,AASDHPPT,AASS,ABAT,ABCA1,ABCA10,...,ZBTB17,ZCCHC7,ZFYVE16,ZFYVE9,ZMAT2,ZMAT3,ZNF274,ZYX,sex,Label
0,10.982397,7.201321,14.518308,8.829623,8.973185,10.055040,8.218122,8.109477,11.213885,6.794406,...,9.983884,10.232379,11.178710,11.038989,11.202540,9.859287,10.983392,13.341647,1,0
1,11.161788,7.089057,14.444686,9.055672,9.102322,10.173848,8.267346,7.995847,11.098076,6.463591,...,9.931934,10.165771,11.023819,10.822222,11.227147,10.566657,10.883747,13.341385,1,0
2,10.970005,7.527222,14.287641,9.511803,8.752174,10.243277,8.537421,8.084298,11.104506,6.942283,...,10.320080,10.226747,10.369099,10.603494,10.910209,9.380333,10.870341,13.792914,1,1
3,11.130991,7.569946,14.273094,9.564251,9.002151,10.184549,8.489560,8.154701,10.773178,6.755555,...,10.362484,10.141137,10.375920,10.513571,10.886389,9.587557,10.876972,13.762602,1,1
4,10.694865,7.439626,14.180190,9.208839,8.599558,10.354350,8.726279,8.286348,12.028783,7.097376,...,10.246529,10.196364,10.722445,11.089414,10.668281,9.541149,10.844830,14.379587,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,11.378338,7.722190,12.013741,9.932280,8.318602,10.326105,8.376387,10.168555,12.196004,7.035359,...,9.974708,9.103704,10.066196,10.200679,10.909774,10.622299,10.457079,14.535487,1,1
186,11.269136,7.676080,12.228441,10.005535,8.462805,9.939172,8.258832,8.560015,11.425500,6.409200,...,10.353013,8.974097,10.150587,10.087114,10.642621,9.955064,10.664523,14.396685,0,1
187,11.519209,7.565933,12.308251,10.114852,8.342639,9.961842,8.057188,9.141073,11.686303,6.479217,...,10.212559,9.210760,9.976184,10.070096,10.807411,10.540452,10.602757,14.320728,0,1
188,10.873800,8.012580,12.415387,9.804506,8.919672,10.813682,8.981879,7.912936,10.687598,6.201496,...,9.761272,9.734117,10.564094,10.320843,11.005033,10.572987,10.067485,13.417643,1,1
189,10.990310,7.604771,12.383752,9.701511,8.788730,10.767506,8.987410,8.180290,10.810532,5.953362,...,9.793104,9.592219,10.553688,10.326461,11.090296,10.541820,10.066086,13.621255,1,1

In [21]:
data = asthma_gse_172367_df.iloc[:, :-2]

In [22]:
data

,AACS,AADAT,AARS1,AARS2,AASDH,AASDHPPT,AASS,ABAT,ABCA1,ABCA10,...,YWHAQ,YWHAZ,ZBTB17,ZCCHC7,ZFYVE16,ZFYVE9,ZMAT2,ZMAT3,ZNF274,ZYX
0,10.982397,7.201321,14.518308,8.829623,8.973185,10.055040,8.218122,8.109477,11.213885,6.794406,...,14.157231,15.283123,9.983884,10.232379,11.178710,11.038989,11.202540,9.859287,10.983392,13.341647
1,11.161788,7.089057,14.444686,9.055672,9.102322,10.173848,8.267346,7.995847,11.098076,6.463591,...,14.153053,15.311773,9.931934,10.165771,11.023819,10.822222,11.227147,10.566657,10.883747,13.341385
2,10.970005,7.527222,14.287641,9.511803,8.752174,10.243277,8.537421,8.084298,11.104506,6.942283,...,14.052444,14.566816,10.320080,10.226747,10.369099,10.603494,10.910209,9.380333,10.870341,13.792914
3,11.130991,7.569946,14.273094,9.564251,9.002151,10.184549,8.489560,8.154701,10.773178,6.755555,...,14.035029,14.562802,10.362484,10.141137,10.375920,10.513571,10.886389,9.587557,10.876972,13.762602
4,10.694865,7.439626,14.180190,9.208839,8.599558,10.354350,8.726279,8.286348,12.028783,7.097376,...,13.963730,14.787880,10.246529,10.196364,10.722445,11.089414,10.668281,9.541149,10.844830,14.379587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,11.378338,7.722190,12.013741,9.932280,8.318602,10.326105,8.376387,10.168555,12.196004,7.035359,...,14.003845,14.579201,9.974708,9.103704,10.066196,10.200679,10.909774,10.622299,10.457079,14.535487
186,11.269136,7.676080,12.228441,10.005535,8.462805,9.939172,8.258832,8.560015,11.425500,6.409200,...,13.968304,14.547985,10.353013,8.974097,10.150587,10.087114,10.642621,9.955064,10.664523,14.396685
187,11.519209,7.565933,12.308251,10.114852,8.342639,9.961842,8.057188,9.141073,11.686303,6.479217,...,13.886530,14.523755,10.212559,9.210760,9.976184,10.070096,10.807411,10.540452,10.602757,14.320728
188,10.873800,8.012580,12.415387,9.804506,8.919672,10.813682,8.981879,7.912936,10.687598,6.201496,...,14.129033,14.286021,9.761272,9.734117,10.564094,10.320843,11.005033,10.572987,10.067485,13.417643
189,10.990310,7.604771,12.383752,9.701511,8.788730,10.767506,8.987410,8.180290,10.810532,5.953362,...,14.105434,14.391955,9.793104,9.592219,10.553688,10.326461,11.090296,10.541820,10.066086,13.621255

In [23]:
label = asthma_gse_172367_df.iloc[:, -2:]

In [24]:
label

     sex  Label
0      1      0
1      1      0
2      1      1
3      1      1
4      1      1
..   ...    ...
185    1      1
186    0      1
187    0      1
188    1      1
189    1      1

[190 rows x 2 columns]

In [26]:
experiment = 1
for train, test in StratifiedShuffleSplit(n_splits = 10, test_size = 0.2).split(data, label):
    trainData, validData, trainLabel, validLabel = train_test_split(data.loc[train], label.loc[train], test_size = 0.2, shuffle = True, stratify = label.loc[train])
    testData = data.loc[test]
    testLabel = label.loc[test]
    print("#######################  %d experiment  #######################\n" % experiment)
    ##################################################################################################
    data_scaler = StandardScaler()
    data_scaler.fit(trainData)
    scaled_data_based_asthma_172367_train_data = data_scaler.transform(trainData)
    scaled_data_based_asthma_172367_valid_data = data_scaler.transform(validData)
    scaled_data_based_asthma_172367_test_data = data_scaler.transform(testData)
    ### entire data
    scaled_asthma_172367_train_df = pd.DataFrame(scaled_data_based_asthma_172367_train_data)
    scaled_asthma_172367_valid_df = pd.DataFrame(scaled_data_based_asthma_172367_valid_data)
    scaled_asthma_172367_test_df = pd.DataFrame(scaled_data_based_asthma_172367_test_data)
    ### reindex label
    reindexed_asthma_172367_train_label = trainLabel.reset_index(drop = True)
    reindexed_asthma_172367_valid_label = validLabel.reset_index(drop = True)
    reindexed_asthma_172367_test_label = testLabel.reset_index(drop = True)
    ##################################################################################################
    ### concat entire data with sex information
    scaled_asthma_172367_train_with_sex_df = pd.concat([scaled_asthma_172367_train_df, reindexed_asthma_172367_train_label["sex"]], axis = 1)
    scaled_asthma_172367_valid_with_sex_df = pd.concat([scaled_asthma_172367_valid_df, reindexed_asthma_172367_valid_label["sex"]], axis = 1)
    scaled_asthma_172367_test_with_sex_df = pd.concat([scaled_asthma_172367_test_df, reindexed_asthma_172367_test_label["sex"]], axis = 1)
    ### entire label
    asthma_172367_train_label = reindexed_asthma_172367_train_label["Label"]
    asthma_172367_valid_label = reindexed_asthma_172367_valid_label["Label"]
    asthma_172367_test_label = reindexed_asthma_172367_test_label["Label"]
    ##################################################################################################
    scaled_asthma_172367_train_with_sex_df.to_csv(f"[GSE{asthma_data}]Entire_Normed_Train_Data_{experiment}.csv", index = False, header = True)
    scaled_asthma_172367_valid_with_sex_df.to_csv(f"[GSE{asthma_data}]Entire_Normed_Valid_Data_{experiment}.csv", index = False, header = True)
    scaled_asthma_172367_test_with_sex_df.to_csv(f"[GSE{asthma_data}]Entire_Normed_Test_Data_{experiment}.csv", index = False, header = True)
    asthma_172367_train_label.to_csv(f"[GSE{asthma_data}]Entire_Normed_Train_Label_{experiment}.csv", index = False, header = True)
    asthma_172367_valid_label.to_csv(f"[GSE{asthma_data}]Entire_Normed_Valid_Label_{experiment}.csv", index = False, header = True)
    asthma_172367_test_label.to_csv(f"[GSE{asthma_data}]Entire_Normed_Test_Label_{experiment}.csv", index = False, header = True)
    
    experiment += 1

#######################  1 experiment  #######################

#######################  2 experiment  #######################

#######################  3 experiment  #######################

#######################  4 experiment  #######################

#######################  5 experiment  #######################

#######################  6 experiment  #######################

#######################  7 experiment  #######################

#######################  8 experiment  #######################

#######################  9 experiment  #######################

#######################  10 experiment  #######################